<div class="container-fluid card header-div">
  <div class="row mt-1">
    <div class="col-xs-6 col-sm-6 col-md-8">
      <a style="text-decoration: none;" routerLink="/taskView">
        <h1 class="text-warning " routerLink="/taskView" style="cursor: pointer;">Task<span class="text-danger">-</span>
          <span class="text-primary">Port</span></h1>
      </a>
    </div>
    <div class="col-xs-6 col-md-4 buttons" style="z-index: 0;">
        <!-- <button type="button" (click)="goToLogin()" mat-flat-button class="text-white ml-2 bg-primary">Logout <i
            class="fa fa-user" aria-hidden="true"></i></button> -->
     
    </div>
  </div>

</div>

<div id="mySidenav" class="sidenav border">
  <a routerLink="/taskView">
    <h1 class="text-warning mt-3" style="font-size: 30px; cursor: pointer;">Task<span class="text-danger">-</span> <span
        class="text-primary">Port</span></h1>
  </a>
  <a href="javascript:void(0)" class="closebtn border-bottom" (click)="closeNav()">&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-angle-double-left" aria-hidden="true"></i><i class="fa fa-angle-double-left" aria-hidden="true"></i>
    close navbar <i class="fa fa-angle-double-left" aria-hidden="true"></i><i class="fa fa-angle-double-left"
      aria-hidden="true"></i></a>
  <a class="border boder-primary rounded" routerLink="/taskView"><i class="fa fa-home text-success"
      aria-hidden="true"></i> Home</a>
  <a class="border rounded" routerLink="/taskView/list"><i class="fa fa-list-alt text-muted" aria-hidden="true"></i>
    Show List</a>
</div>

<div>
  <span id="menubtn" class="btn  bg-light menu-button" (click)="openNav()">Menu <i class="fa fa-bars"
      aria-hidden="true"></i></span>

</div>


<div class="container main-container">
  <div class="col-md-12 col-sm-12 main-component">
    <router-outlet></router-outlet>
  </div>
</div>

<p-toast styleClass="custom-toast" key="custom" position="bottom-center"
  [showTransformOptions]="'translateX(-100%)'"></p-toast>

  <ul class="profile-wrapper" >
    <li>
      <!-- user profile -->
      <div class="profile">
        <img src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
        <a class="name">{{userFirstName}} {{userLastName}}</a>
        
        <!-- more menu -->
        <ul class="menu" >
          <li><a (click)="goToUser()">Profile Details</a></li>
          <li><a href="#">Change Password</a></li>
          <li><a (click)="goToLogin()">Log out</a></li>
        </ul>
      </div>
    </li>
  </ul>