.list-form{
    width: 300px;
    font-size: 15px;
}
:hover.hover-style{
 background-color: #d3d3d3;
}

.update-delete-button{
    float: right;
    position: relative;
    right: 10px;
    bottom: 40px;
}
