.logo-img {
    width: 30%;
    height: 10rem;
    margin-left: 35%;
}
.contact-no{
    width: 520px;
}
input{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    width: 80%;
    border-bottom: solid 0.8px lightgrey;
    display: block !important;
}
input::placeholder{
    font-size: 15px;
    padding-left: 10px;
}
.input-containers{
    margin-top: 15px;
}
.form-body{
    box-shadow: 3px 3px 3px 0px lightgrey;
}
.labels {
    font-size: 18px;
}
.hide-pass{
    position: absolute;
    right: 23%;
    font-size: 20px;
    cursor: pointer;
}
input.terms{
    width: 10px;
    transform: scale(1.5);
    position: absolute;
}
@media (max-width: 768px) {
   
    .contact-no{
        width: 240px;
    }
}
@media (max-width: 468px) {
   
    .logo-img{
        width: 60%;
        margin-left: 15%;
    }
   
}
@media (max-width: 375px){
    .register-form {
        width: 17rem;
        position: relative;
        right: 13%;
    }
    
}